.if-preview {
  display: inline-block;
}
.if-preview .krajee-default.file-preview-frame,
.if-preview .if-preview .krajee-default.file-preview-frame:hover {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  text-align: center;
}
.if-preview .file-input {
  display: table-cell;
  width: 112px;
}
.if-preview .file-input .file-preview {
  width: 100%;
  height: 100%;
  padding: 3px;
}
.if-preview .file-input .file-preview .file-drop-zone {
  width: 112px;
  height: 152px;
}
.if-preview .file-input .file-preview .file-drop-zone img {
  max-width: 100px;
  max-height: 100px;
  font-size: 13px;
}
.if-preview .file-input .file-preview .file-drop-zone .krajee-default.file-preview-frame:not(.file-preview-error):hover {
  box-shadow: none;
}
.if-preview .file-input .file-preview .file-drop-zone .krajee-default.file-preview-frame .kv-file-content {
  max-width: 100px;
  max-height: 100px;
}
.if-preview .file-input .file-preview .file-drop-zone .krajee-default.file-preview-frame .file-thumbnail-footer {
  max-width: 100px;
  height: 40px;
}
.if-preview .file-input .file-preview .file-drop-zone .krajee-default.file-preview-frame .file-caption-info {
  width: 100px;
  font-size: 11px;
}
.if-preview .file-input .file-preview .file-drop-zone .krajee-default.file-preview-frame .file-size-info {
  width: 100px;
  font-size: 11px;
}
.if-preview .file-input .file-preview .file-drop-zone .krajee-default.file-preview-frame .file-actions {
  display: none;
}
.if-preview .file-input button,
.if-preview .file-input .btn {
  padding: .25rem .25rem;
  font-size: .775rem;
  line-height: 1.5;
  border-radius: .2rem;
}
.field-lg .if-preview .file-input {
  width: 168px;
}
.field-lg .if-preview .file-input .file-preview {
  padding: 8px;
}
.field-lg .if-preview .file-input .file-preview .file-drop-zone {
  width: 168px;
  height: 238px;
  margin: 4px;
}
.field-lg .if-preview .file-input .file-preview .file-drop-zone img {
  max-width: 156px;
  max-height: 156px;
  font-size: 14px;
}
.field-lg .if-preview .file-input .file-preview .file-drop-zone .krajee-default.file-preview-frame .kv-file-content {
  max-width: 156px;
  max-height: 156px;
}
.field-lg .if-preview .file-input .file-preview .file-drop-zone .krajee-default.file-preview-frame .file-thumbnail-footer {
  max-width: 156px;
  height: 70px;
}
.field-lg .if-preview .file-input .file-preview .file-drop-zone .krajee-default.file-preview-frame .file-caption-info {
  width: 156px;
  font-size: 11px;
}
.field-lg .if-preview .file-input .file-preview .file-drop-zone .krajee-default.file-preview-frame .file-size-info {
  width: 156px;
  font-size: 11px;
}
.field-lg .if-preview .file-input .file-preview .file-drop-zone .krajee-default.file-preview-frame .file-actions {
  display: none;
}
.field-lg .if-preview .file-input button,
.field-lg .if-preview .file-input .btn {
  padding: .25rem .25rem;
  font-size: .675rem;
  line-height: 1.5;
  border-radius: .2rem;
}
.field-sm .if-preview .file-input {
  width: 100px;
}
.field-sm .if-preview .file-input .file-preview {
  padding: 3px;
}
.field-sm .if-preview .file-input .file-preview .file-drop-zone {
  width: 100px;
  height: 130px;
  margin: 4px;
}
.field-sm .if-preview .file-input .file-preview .file-drop-zone img {
  max-width: 88px;
  max-height: 88px;
  font-size: 12px;
}
.field-sm .if-preview .file-input .file-preview .file-drop-zone .krajee-default.file-preview-frame .kv-file-content {
  max-width: 88px;
  max-height: 88px;
}
.field-sm .if-preview .file-input .file-preview .file-drop-zone .krajee-default.file-preview-frame .file-thumbnail-footer {
  max-width: 88px;
  height: 30px;
}
.field-sm .if-preview .file-input .file-preview .file-drop-zone .krajee-default.file-preview-frame .file-caption-info {
  width: 88px;
  height: 12px;
  font-size: 10px;
}
.field-sm .if-preview .file-input .file-preview .file-drop-zone .krajee-default.file-preview-frame .file-size-info {
  width: 88px;
  height: 12px;
  font-size: 10px;
}
.field-sm .if-preview .file-input .file-preview .file-drop-zone .krajee-default.file-preview-frame .file-actions {
  display: none;
}
.field-sm .if-preview .file-input button,
.field-sm .if-preview .file-input .btn {
  padding: .25rem .25rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}
.field-xs .if-preview .file-input {
  width: 84px;
}
.field-xs .if-preview .file-input .file-preview {
  padding: 2px;
}
.field-xs .if-preview .file-input .file-preview .file-drop-zone {
  width: 84px;
  height: 108px;
  margin: 4px;
}
.field-xs .if-preview .file-input .file-preview .file-drop-zone img {
  max-width: 72px;
  max-height: 72px;
  font-size: 10px;
}
.field-xs .if-preview .file-input .file-preview .file-drop-zone .krajee-default.file-preview-frame .kv-file-content {
  max-width: 72px;
  max-height: 72px;
}
.field-xs .if-preview .file-input .file-preview .file-drop-zone .krajee-default.file-preview-frame .file-thumbnail-footer {
  max-width: 72px;
  height: 24px;
}
.field-xs .if-preview .file-input .file-preview .file-drop-zone .krajee-default.file-preview-frame .file-caption-info {
  width: 72px;
  height: 10px;
  font-size: 9px;
}
.field-xs .if-preview .file-input .file-preview .file-drop-zone .krajee-default.file-preview-frame .file-size-info {
  width: 72px;
  height: 10px;
  font-size: 9px;
}
.field-xs .if-preview .file-input .file-preview .file-drop-zone .krajee-default.file-preview-frame .file-actions {
  display: none;
}
.field-xs .if-preview .file-input button,
.field-xs .if-preview .file-input .btn {
  padding: .25rem .25rem;
  font-size: .675rem;
  line-height: 1.5;
  border-radius: .2rem;
}
.file-drop-zone-title {
  padding: 0;
  font-size: 16px;
}
.kv-reqd {
  color: red;
  font-family: monospace;
  font-weight: normal;
}
/*# sourceMappingURL=imagefield.css.map */