@image-size: 156px;
@image-preview-width: 168px;
@image-preview-height: 242px;

@small-image-size: 100px;
@small-image-preview-width: 120px;
@small-image-preview-height: 156px;
@small-field-width: @small-image-size + 44px;


.if-preview {
    display: inline-block;

    .krajee-default.file-preview-frame,.if-preview .krajee-default.file-preview-frame:hover {
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
        text-align: center;
    }

    .file-input {
        display: table-cell;
        /*width: 213px;*/

        .file-preview {
            width: 100%;
            height: 100%;

            .file-drop-zone {
                width: @image-preview-width;
                height: @image-preview-height;

                img {
                    max-width: @image-size;
                    max-height: @image-size;
                }

                .krajee-default {
                    &.file-preview-frame {
                        &:not(.file-preview-error):hover {
                            box-shadow: none;
                        }

                        .kv-file-content {
                            max-width: @image-size;
                            max-height: @image-size;
                        }

                        .file-actions {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.small-field {
    .if-preview {
        .file-input {
            width: @small-field-width;

            .file-preview {
                .file-drop-zone {
                    width: @small-image-preview-width;
                    height: @small-image-preview-height;
                    margin: 4px;

                    img {
                        max-width: @small-image-size;
                        max-height: @small-image-size;
                    }

                    .krajee-default {
                        &.file-preview-frame {
                            &:not(.file-preview-error):hover {
                            }

                            .kv-file-content {
                                max-width: @small-image-size;
                                max-height: @small-image-size;
                            }

                            .file-thumbnail-footer {
                                max-width: @small-image-size;

                            }

                            .file-caption-info {
                                width: @small-image-size;
                            }

                            .file-size-info {
                                width: @small-image-size;
                            }

                            .file-actions {
                                display: none;
                            }
                        }
                    }
                }
            }

            button, .btn {
                padding: .25rem .25rem;
                font-size: .675rem;
                line-height: 1.5;
                border-radius: .2rem;
            }
        }
    }
}

.file-drop-zone-title {
    padding: 0;
    font-size: 16px;
}

.kv-reqd {
    color: red;
    font-family: monospace;
    font-weight: normal;
}
